## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 3
print(a)
# a = 5
# print(a)

3

2) Imprimir el tipo de dato de la constante 8.5

In [8]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
nombre = "Rudy"

5) Crear una variable que contenga un número complejo

In [9]:
complejo = 3+4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi = 3.1416

In [13]:
print(round(pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
V1 = "True"
V2 = True

In [19]:
print(type(V1))

<class 'str'>

In [20]:
print(type(V2))

<class 'bool'>

In [16]:
ej1 = "3,5"
ej2 = 2.6

In [13]:
print(float(ej1.replace(",","."))+ej2)

6.1

In [18]:
ej1 = float(ej1.replace(",","."))

In [19]:
print(ej1 + ej2)

6.1

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [4]:
print("La variable 1 es de tipo ", type(V1), " y la variable 2 es de tipo ", type(V2))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
entero = 5 
decimal = 3.5
print(entero+decimal)

8.5

11) Realizar una operación de suma de números complejos

In [51]:
x = 5+4j
y = 2+8j
print(x+y)

(7+12j)

12) Realizar una operación de suma de un número real y otro complejo

In [52]:
m = 5
print(m+x)

(10+4j)

13) Realizar una operación de multiplicación

In [53]:
print(5*8)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [54]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [55]:
c = 27/4
print(c)

6.75

16) De la división anterior solamente mostrar la parte entera

In [56]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [57]:
a1= "Rudy "
a2 = "estudia "
a3 = "Programación"
print(a1+a2+a3)

Rudy estudia Programación

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
X = 2
Y = "2"
X == Y

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
X == int(Y)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [42]:
a = float("3,8".replace(",","."))
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [58]:
var = 4
var -= 3
print(var)

1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [49]:
1 << 2

4

In [ ]:
1*(2**2)

In [ ]:
n = 3

In [59]:
100 << 3

800

In [60]:
100*(2**3)

800

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [61]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
float(2) + float("2")

In [ ]:
int(2) + int("2")

In [ ]:
str(2) + str("2")

26) Realizar una operación válida entre valores de tipo entero y string

In [64]:
b1 = "Este texto se repite "
b2 = 3
print(b1*b2)

Este texto se repite Este texto se repite Este texto se repite

In [1]:
n = 10
if (n>0):
    print(n, " es mayor que cero")
elif (n<0):
    print(n, " es menor que cero")
else:
    print(n, " es igual a cero")

10  es mayor que cero